<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/start.css">
</head>
<body>
    <div class="container">
        <div class="inner-box">
        <form action="/home" class="details" method="post">
            <label for="username">ENTER YOUR NAME : </label>
            <input type="text" id="username" name="username" >
            <button type="submit" >Submit</button>
        </form>
    </div>
    </div>
</body>
</html>