<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/start.css">
</head>
<body>
    

    <div class="container">
        <div class="inner-box">
            <h1 class="project-title">Family Travel Tracker</h1>
            <p class="project-description">Family Travel Tracker is a web application that helps families log and track the countries they've visited. Users can log in, manage individual travel logs, and view a summary of their travel history. </p>
            <form action="/home" class="details" method="post">
                <label for="username">ENTER YOUR NAME : </label>
                <input type="text" id="username" name="username" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
    </footer>
</body>
</html>
